# Compilados de Java (Maven)
**/target/
**.class
**.jar
**.war

# Dependencias de React/Node
**/node_modules/
**/dist/
.eslintcache

# Archivos de configuración del IDE (VS Code / IntelliJ)
.idea/
*.iml
.vscode/
.DS_Store

# Variables de entorno (Seguridad)
.env
.env.local